:root {
  --border-radius: 2.5rem;
  --c: #191919;
  --bg: #FCFCFE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter;
  color: var(--c);
}

.container {
  position: relative;
}

body {
  background-color: var(--bg);
  min-height: 90vh;
  display: grid;
  place-items: center;
}

img {
  height: 30rem;
  width: 50rem;
  object-fit: cover;
  display: block;
  border-radius: var(--border-radius);
}

.user {
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  padding: 2.5rem;
  background-color: var(--bg);
  border-radius: 0 var(--border-radius) 0 var(--border-radius);

  &:after, 
  &:before {
    position: absolute;
    content:"";
    width: var(--border-radius);
    aspect-ratio: 1;
    background-color: var(--bg);
    clip-path: path("M -1 0 V 40 H 40 Q 0 35, 0 0 Z");
  }

  &:after {
    top: calc(var(--border-radius)*-0.99);
    left: 0;
  }

  &:before {
    bottom: 0;
    right:calc(var(--border-radius)*-1) ;
  }
}


/* Text */
h1 {font-size: 2rem;}

h2 {
  font-size: 1rem;
  font-weight: 200;
}


/* RESPONSIVE DESIGN */

@media screen and (max-width: 480px){
  body {margin-inline: 1.5rem;}

  img, .user {width: 100%;}

  img {object-position: right;}
}